
  <div class="container col-sm-8">
    <div class="well">
      <form id="ajaxForm" class="form-vertical" role="form" autocomplete="off" method="POST" >
        <fieldset>
    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="">
          </div>
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="">
          </div>       
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">Brand</label>
            <input type="text" class="form-control" name="brand" id="brand" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">weight</label>
            <input type="text" class="form-control" name="weight" id="weight" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">itemModelNumber</label>
            <input type="text" class="form-control" name="itemModelNumber" id="itemModelNumber" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">size</label>
            <input type="text" class="form-control" name="size" id="size" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">numberOfİtem</label>
            <input type="text" class="form-control" name="numberOfİtem" id="numberOfİtem" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">quantity</label>
            <input type="text" class="form-control" name="quantity" id="quantity" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">price</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="">
          </div>    
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">batteriesRequired</label>
            <input type="text" class="form-control" name="batteriesRequired" id="batteriesRequired" placeholder="">
          </div>     
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">itemWeight</label>
            <input type="text" class="form-control" name="itemWeight" id="itemWeight" placeholder="">
          </div> 
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">gtin</label>
            <input type="text" class="form-control" name="gtin" id="gtin" placeholder="">
          </div> 
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">ean</label>
            <input type="text" class="form-control" name="ean" id="ean" placeholder="">
          </div> 
          <div class="form-group col-xs-12 col-sm-12">
            <label for="" class="control-label">Stock</label>
            <input type="text" class="form-control" name="stock" id="stock" placeholder="">
          </div> 
        
          

          <div class="col-xs-12">
            <label class="control-label" for="color">color:</label>
            <div class="control-group" id="color">
              <div class="controls">
                <div class="entry input-group form-group">
                  <input class="form-control" name="color[0]" placeholder="add color" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add" type="button" name="color">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <label class="control-label" for="productDimensions">productDimensions:</label>
            <div class="control-group" id="productDimensions">
              <div class="controls2">
                <div class="entry input-group form-group">
                  <input class="form-control" name="productDimensions[0]" placeholder="add productDimensions" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add2" type="button" name="productDimensions">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <label class="control-label" for="material">material:</label>
            <div class="control-group" id="material">
              <div class="controls3">
                <div class="entry input-group form-group">
                  <input class="form-control" name="material[0]" placeholder="add material" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add3" type="button" name="material">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <label class="control-label" for="type">type:</label>
            <div class="control-group" id="type">
              <div class="controls4">
                <div class="entry input-group form-group">
                  <input class="form-control" name="type[0]" placeholder="add type" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add4" type="button" name="type">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <label class="control-label" for="pictures">pictures:</label>
            <div class="control-group" id="pictures">
              <div class="controls5">
                <div class="entry input-group form-group">
                  <input class="form-control" name="pictures[0]" placeholder="add pictures" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add5" type="button" name="pictures">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <label class="control-label" for="video">video:</label>
            <div class="control-group" id="video">
              <div class="controls6">
                <div class="entry input-group form-group">
                  <input class="form-control" name="video[0]" placeholder="add video" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add6" type="button" name="video">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
            
          <div class="pull-right">
            <br>
            <div class="btn-group col-xs-12">

              <button type="button" class="btn btn-primary" id="sendTreeJSon2">Save</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>





  
  <script type="text/javascript" >

    $(document).ready(function() {
  $("#sendTreeJSon2").click(function(event) {
    event.preventDefault();
    var form = $('#ajaxForm');
    var method = 'POST';
    var url = '/api/v1/products/add';
    var jsonData = $(form).serializeObject();
    console.log(jsonData);
    $.ajax({
      url: url,
      headers: {
        "Authorization": "Bearer <%= locals.session.bearertoken %>"
      },
      method: 'POST',
      dataType: 'json',
      data: jsonData,
      success: function(data){
        console.log('succes: '+data);
       // $('#ajaxForm')[0].reset();
      }
    });
  });
});




</script> 