
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Anasayfa</h1>
      </div>
      <div class="row">      
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-white bg-secondary  mb-3" style="max-width: 18rem;">
                      <div class="card-header">Anasayfadir <%= locals.session.bearertoken %><%= locals.session.role %> </div>
                      <div class="card-body">
                        <h5 class="card-title" id="toplam"></h5>
                      </div>
                    </div>
                  </div>

            </div>
            
        </div>
   
    
    </div>


